/* Project styles */
#page {
    margin: 0 4%;
    width: 92%;
}

#top {
    margin: 20px 0;
    position: relative;
}

#logo {
    float: left;
    margin: 0;
    text-indent: -9999px;
    width: 93px;
    height: 40px;
    background: url(../img/sprite.png) no-repeat 0 0 transparent;
}

#main-menu {
    width: 50%;
    margin: 0 auto;

    ul {
        text-align: center;

        li {
            display: inline;
        }
    }
    a,
    h1 {
        display: inline;
        text-transform: none;
        font: normal 2.6em "Din Medium";
        font-style: italic;
        line-height: 1.5;
        color: #333;
        text-decoration: none;
        padding: 0 10px;

        &.in {
            color: #be1216;
            text-decoration: underline;
        }
    }
    h1 {
        color: #be1216;
    }
}

#login {
    top: 0;
    right: 22px;
    position: absolute;
    line-height: 40px;
    font-size: 1.8em;
    color: #333;
    text-decoration: none;

    &:hover span {
        background-position: -115px 0;
    }

    span {
        position: absolute;
        line-height: 40px;
        width: 12px;
        border-right: solid 5px #fff;
        border-left: solid 5px #fff;
        background: url(../img/sprite.png) no-repeat -131px 0 transparent;
    }
}

#login-links {
    display: none;
}
