/* Project styles */
#page {
    margin: 0 4%;
    width: 92%;
}

#top {
    margin: 20px 0;
    position: relative;
}

#logo {
    float: left;
    margin: 0;
    text-indent: -9999px;
    width: 93px;
    height: 40px;
    background: url(../img/sprite.png) no-repeat 0 0 transparent;
}

#main-menu {
    text-align: center;

    ul {
        padding-left: 0;
        margin: 0;

        li {
            display: inline-block;
        }
    }
    a,
    h1 {
        display: inline-block;
        text-transform: none;
        font: normal 2.6em $FONT_DIN_MEDIUM;
        font-style: italic;
        line-height: 40px;
        color: #333;
        text-decoration: none;
        padding: 0 10px;

        &.in {
            color: $COLOUR_LINKS;
            text-decoration: underline;
        }
    }
    h1 {
        color: $COLOUR_LINKS;
    }
    a:hover {
        color: darken($COLOUR_LINKS, 20%);
    }
}

#login {
    display: inline-block;
    line-height: 40px;
    font-size: 1.8em;
    color: #333;
    text-decoration: none;
}

#logout {
    display: inline-block;
    margin-left: 20px;
    line-height: 40px;
    width: 12px;
    background: url(../img/sprite.png) no-repeat -131px -5px transparent;
    color: #fff;

    &:hover {
        background-position: -115px -5px;
    }
}
