#venue-container {
    width: 100%;

    td {
        width: 50%;
        vertical-align: top;
    }
}
#venue {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    border-radius: 3px;

    .description {
        padding: 24px;

        .address {
            font-size: 2.6em;
        }
    }
    .map {
        height: 350px;
        border-radius: 3px 3px 0 0;
    }
}

#upcoming-events,
#past-events {
    margin: 0 0 24px 5%;
    float: left;
}
