#venue {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    border-radius: 3px;

    .description {
        padding: 24px;
        margin-bottom: 1em;

        .address {
            font-size: 2em;
        }
        .shares{
            margin-bottom: 0;
            a {
                margin: 0 .5em;
            }
        }
    }
    .map {
        height: 350px;
        border-radius: 3px 3px 0 0;
    }
}

#upcoming-events,
#past-events {
    margin: 0 0 24px 5%;
    float: left;
}
