/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Clearfix */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}
@font-face {
    font-family: 'Din Medium';
    src: url('/static/stylesheets/fonts/pfdintextcomppro-medium-webfont.eot');
    src: url('/static/stylesheets/fonts/pfdintextcomppro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/stylesheets/fonts/pfdintextcomppro-medium-webfont.woff') format('woff'),
         url('/static/stylesheets/fonts/pfdintextcomppro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Din Regular';
    src: url('/static/stylesheets/fonts/pfdintextcomppro-regular-webfont.eot');
    src: url('/static/stylesheets/fonts/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/stylesheets/fonts/pfdintextcomppro-regular-webfont.woff') format('woff'),
         url('/static/stylesheets/fonts/pfdintextcomppro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


html {
  min-width: 1000px; }

  body {
    font: normal 62.5% / 1.3 "Din Regular", "Roboto Condensed", Helvetica, Tahoma,
        sans-serif; }

    a:hover {
      color: #be1216 !important; }

      p {
        font-size: 1.7em; }

        h1 {
          font: bold 4.8em / 1 "Din Medium";
          font-style: italic;
          text-transform: uppercase;
          color: #333; }

          h2 {
            font: bold 2.4em / 1 "Din Regular";
            font-style: italic;
            text-transform: uppercase;
            color: #333; }

            i, em {
              font-style: italic; }

              b, strong {
                font-weight: bold; }

                .nobr {
                  white-space: nowrap; }

                  #page {
                    margin: 0 4%;
                    width: 92%; }

                    #top {
                      margin: 20px 0;
                      position: relative; }

                      #logo {
                        float: left;
                        margin: 0;
                        text-indent: -9999px;
                        width: 93px;
                        height: 40px;
                        background: url('/static/img/sprite.png') no-repeat 0 0 transparent; }

                        #main-menu {
                          width: 50%;
                          margin: 0 auto; }
                          #main-menu ul {
                            text-align: center; }
                            #main-menu ul li {
                              display: inline; }
                              #main-menu ul li.active {
                                color: #be1216; }
                          #main-menu a, #main-menu span {
                            font: normal 2.6em "Din Medium";
                            font-style: italic;
                            line-height: 1.5;
                            color: #333;
                            text-decoration: none;
                            padding: 0 10px; }

#login {
  top: 0;
  right: 22px;
  position: absolute;
  line-height: 40px;
  font-size: 1.8em;
  font-style: italic;
  color: #333;
  text-decoration: none; }
  #login:hover span {
    background-position: -115px 0; }
    #login span {
      position: absolute;
      line-height: 40px;
      width: 12px;
      border-right: solid 5px #fff;
      border-left: solid 5px #fff;
      background: url('/static/img/sprite.png') no-repeat -131px 0 transparent; }

#login-links {
  display: none; }

#venues {
  margin-right: -12px; }
  #venues .container {
    float: left;
    width: 25%; }
    #venues .container .venue {
      margin: 0 12px 12px 0;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      border-radius: 2px; }
      #venues .container .venue h2 {
        padding: 10px 0 0 10px; }
        #venues .container .venue ul {
          margin-top: 10px; }
          #venues .container .venue ul li a {
            color: #949494;
            line-height: 34px;
            font-size: 1.8em;
            text-decoration: none;
            padding: 0 10px;
            display: block; }
            #venues .container .venue ul li a .title {
              color: #333;
              font-weight: bold;
              font-style: italic;
              text-transform: uppercase; }
              #venues .container .venue ul li a .border {
                -webkit-transition: 0ms;
                -moz-transition: 0ms;
                transition: 0ms;
                border-bottom: 1px solid #bdbdbd; }
                #venues .container .venue ul li a .border.last {
                  border: none; }
      #venues .container .venue:hover {
        transition-duration: 100ms;
        background-color: #898989; }
        #venues .container .venue:hover h2 {
          color: #fff; }
          #venues .container .venue:hover ul li a {
            color: #d7d7d7; }
            #venues .container .venue:hover ul li a .title {
              color: #fff; }
          #venues .container .venue:hover ul li a:hover {
            color: #333 !important;
            background-color: #73cb00; }
            #venues .container .venue:hover ul li a:hover .title {
              color: #333 !important; }
              #venues .container .venue:hover ul li a:hover .border {
                border-color: #73cb00 !important; }
        #venues .container .venue:hover .border {
          transition-duration: 0ms;
          border-color: #898989 !important; }
  #venues .clear_4 {
    display: block; }
    #venues .clear_2, #venues .clear_3 {
      display: none; }

@media all and (max-width: 1399px) {
  #venues .container {
    width: 33.33%;   }
    #venues .clear_3 {
      display: block;   }
      #venues .clear_2, #venues .clear_4 {
        display: none;   }
}

@media all and (max-width: 1023px) {
  #venues .container {
    width: 50%;   }
    #venues .clear_2 {
      display: block;   }
      #venues .clear_3, #venues .clear_4 {
        display: none;   }
}
