Django==1.6.2
Pillow==2.4.0
South==0.8.4
django-annoying==0.7.9
django-appconf==0.6
django-compressor==1.3
django-debug-toolbar==1.1
django-extensions==1.3.3
django-geckoboard==1.2.7
django-reset==0.2.0
ipython==2.0.0
pyreadline==2.0
pytils==0.3
six==1.6.1
smartypants==1.8.3
sqlparse==0.1.11
typogrify==2.0.4
