{# spaceless #}<!doctype html>
<html>
	<head>
		<title></title>
		{% block head_addon %}{% endblock %}
	</head>
	<body>
		{% url home as home %}
		{% ifnotequal request.path_info home %}
			<p>&larr; <a href="{{ home }}">Home</a></p>
		{% endifnotequal %}
			
		{% if user.is_authenticated %}
			<p>Welcome, <a href="{{ request.user.profile.get_absolute_url }}">{{ request.user.username }}</a>. Thanks for logging in. <a href="{% url logout %}">Logout</a></p>
		{% else %}
			<p>Please <a href="{% url login %}">log in</a>. <a href="{% url registration %}">Or register</a>.</p>
		{% endif %}

		{% block content %}{% endblock %}
	</body>
</html>{# endspaceless #}